@charset "EUC-JP";

img.google {
	border: 0;
	vertical-align: middle;
}

td.google {
	font-size: smaller;
}

body {
	margin: 0;
	padding: 1em;
	background-color: #fff;
}

div {
/*	margin: 0;
	padding: 0;	*/
	font-size: 100%;
	font-family: "VL Gothic, Verdana, Arial, Helvetica, sans-serif";
	line-height: 1.4;
}

h1 {
	margin: 0.3em 0;
	font-size: 200%;
}

h2 {
	margin: 1em 0;
	font-size: 130%;
	color: #d70752;
}

h3 {
	margin: 1em 0;
	font-size: 120%;
	color: #d70752;
}

h4, h5, h6 {
	margin: 1em 0;
	font-size: 100%;
	color: #d70752;
}

p {
	margin: 1em 0;
	font-size: 100%;
}

p.small {
	font-size: 80%;
}

p.right {
	text-align: right;
}

ul, ol {
	margin: 1em 0;
	padding-left: 30px;
}

li {
	margin: 0;	
}

dl {
	margin: 1em 0;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 40px;
}

a {
	color:		inherit;
}

a:link {
	color:		#0000FF;
}

a:visited {
	color:		#800080;	/* same as debian.org */
}

a:hover {
	background-color:	#FF0;
	text-decoration:	underline;
}

img {
	margin: 0;
	border: 0;
	vertical-align: baseline;
}

div.img {
	margin: 0.5em 0em 0.5em 1em;
}

em {
	font-weight: bold;
	font-style: normal;
}

strong {
	font-weight: bold;
	font-style: normal;
}

strong.attention {
	background-color: #ffc0c0;
	font-weight: bold;
	font-style: normal;
}

hr {
	visibility: hidden;
}

.copyright:after {
	content: " 1998-2011";
}

pre {
	background-color: #ecffe2;
	padding: 8px;
	border: dashed 2px #000;
}

kbd {
	padding: 8px;
	border: dashed 1px #000;
}

blockquote.attention {
	background-color: #ffc0c0;
	padding: 4px;
	font-weight: bold;
	border: solid 1px #ff0000;
}

table.mlremove th, table.mlremove td {
	border: solid 1px #a0a0a0;
	vertical-align: top;
}

td.macro {
	white-space: nowrap;
}

/* ******************** header ******************** */

div.header {
	padding-left: 15px;
}

div.header p {
	margin: 0em 0em 0em 0em;
}

div.header form {
	float: right;
	margin: -3.0em 1.0em 0.5em 0em;
}

div.header h1 {
	background-color:	transparent;
	color:		#800080;	/* same as debian.org */
}

div.header a:hover {
	background-color:	transparent;
	text-decoration:	none;
}

div.header a:visited {
	color:		#000;
}

/* ******************** menu ******************** */

div.menu {
	border-top: 1px solid #999;
	border-bottom: 1px solid #000;	
	padding: .25em 1em;
	color: #333;
	background-color: #DF0451;
	font-size: 85%;
	clear: both;
}

div.menu p {
	width: 65%;
	margin: 0;
	float: left;
}

div.menu a {
	color: #fff !important;
	background-color: transparent !important;
	font-weight: bold;
	white-space: pre;
}

div.menu a:hover {
	color: #009 !important;
	background-color: transparent !important;
}

/* ******************** sidebar ******************** */

div.sidebar {
	width: 19.0%;
	float: left;
	color: #000;
	background-color: #f6f6f6;
}

div.sidebar h2 {
	border-bottom: 1px solid #000;
	font-size: 100%;
}

div.sidebar div.section {
	margin: 0.75em;
}

div.sidebar p {
	margin: 0;
	padding-left: .25em;
}

div.sidebar ul li {
	list-style-image: url(/image/openlogo-nd-mini.png);
}

/* ******************** content ******************** */

/*
div.content {
	width: 78%;
	float: center;
}
*/

div.content h2 {
	border-bottom: 1px solid #000;
}

div.content h3 {
	border-bottom: 1px solid #000;
}

div.content div.past {
	color: #666;
}

div.content div.section {
	margin: 1.25em;
}

div.section img.float {
	margin: 1.25em;
}


div.section dt {
	margin: 1.0em 0em 0em 0em;
}

/* ******************** footer ******************** */

div.footer {
	clear: both; 
	padding: 0.25em;
	margin-top: 1em;
}

div.footer p {
	margin: 0;
	color: #666;
	background-color: #fff;
	font-size: 75%;
	text-align: center;
}

div.footer img {
	border: 0;
	margin: 0.5em 2.0em 0.25em 0.5em;
	float: inherit;
}

div.footer a:hover {
	background-color:	transparent;
}

/****/

div#wrapper {
	background-repeat: repeat-x;
	background-position: top;
}

div#container {
	width: 950px;
	margin: 0px auto;
}

/******* time table *******/
table#timetable {
	border: none;
}

table#timetable th.time {
	width: 12%;
	text-align: center;
}

table#timetable th.no110 {
	width: 37%;
	text-align: center;
}

table#timetable th.no108 {
	width: 37%;
	text-align: center;
}

table#timetable th.no109 {
	width: 14%;
	text-align: center;
}

table#timetable tr.odd {
	background-color: #FFFFFF;
}

table#timetable tr.even {
	background-color: #e8e8e8;
}

table#timetable td {
	vertical-align : top;
}

/* KSP */
table#ksp tr.odd {
	background-color: #FFFFFF;
}

table#ksp tr.even {
	background-color: #e8e8e8;
}

table#ksp td {
	vertical-align : top;
}
